.Box {
  &--primary-a {
    padding: 3em 2em 1em 2em;
    background-color: $primary-a;
  }

  &--primary-b {
    background-color: $primary-b;
    padding: 3em 2em 1em 2em;
  }

  &--primary-c {
    background-color: $primary-c;
  }

  &--primary-d {
    background-color: $primary-d;
  }
}
