.Box {
  &--primary-a {
    background-color: $primary-a;
  }

  &--primary-b {
    background-color: $primary-b;
  }

  &--primary-c {
    background-color: $primary-c;
  }

  &--primary-d {
    background-color: $primary-d;
  }
}
