.Box--primary-a {
  background-color: $primary-a;
}

.Box--primary-b {
  background-color: $primary-b;
}

.Box--primary-c {
  background-color: $primary-c;
}

.Box--primary-d {
  background-color: $primary-d;
}
