.TopBar {
  &__content {
    display: flex;
    flex-direction: row;
    height: $navbar-height;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;

    @include from($tablet) {
      padding-inline: 2rem;
    }
  }

  &--primary-a {
    background-color: $primary-a;
  }

  &--primary-b {
    background-color: $primary-b;
  }

  &--primary-c {
    background-color: $primary-c;
  }

  &--primary-d {
    background-color: $primary-d;
  }
}
