.TopBar--primary-a {
  background-color: $primary-a;
}

.TopBar--primary-b {
  background-color: $primary-b;
}

.TopBar--primary-c {
  background-color: $primary-c;
}

.TopBar--primary-d {
  background-color: $primary-d;
}
